/* Style for navbar */

.navbar-brand {
    margin: 10px;
    font-family: 'Sen', sans-serif;
    /* Typography */
    font-size: 33px;
    line-height: 150%;
    text-indent: 20%;
}

/* border for navbar */

.navborder {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 10px ridge #00000015;
    margin-bottom: 50px;
}

/* navbar links style */

.nav-link {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
}

/* body background color */

body {
    background-color: cornsilk;
    /* Border */
}

/* profile pic */

img {
    border-radius: 50%;
}

/* contact card */

#contactMessage {
    text-align: center;
}

/* about me card */

.aboutmeCard {
    margin-right: 100px;
    margin-top: 200px;
}

/* portfolio card */

.portfolioCard {
    margin-bottom: 25px;
}