/* Style for navbar */

.navbar-brand {
    margin: 10px;
    font-family: 'Sen', sans-serif;
    /* Typography */
    font-size: 33px;
    line-height: 150%;
    text-indent: 20%;
}

/* border for navbar */

.navborder {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    /* border: 5px ridge #00000015;
    border-bottom: single; */
    margin-bottom: 50px;
}

/* navbar links style */

.nav-link {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
}

/* body background color */

body {
    background-color: white;
    /* Border */
}

/* profile pic */

img {
    border-radius: 50%;
    /* height: 10%;
    width: 100%; */
}

/* contact card */

#contactCard {
    margin-top: 7%;
}

/* #contactMessage {
    text-align: center;
} */

/* about me card */

#aboutmeCard {
    background-color: whitesmoke;
    /* portfolio card */
}

li {
    list-style: none;
    margin: 0 0 .5em 0;
}

.contact {
    font-size: 1.5em;
}

#email {
    font-size: .7em;
}